#### Safety ####
# Directory Browsing
Options All -Indexes

# disable the server signature
ServerSignature Off

# Deny File Access
<Files ".htaccess" >
  Deny from all
</Files>

# Deny version file
<Files "v4*" >
  Deny from all
</Files>

# Initiate Rewrite
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]

### Speed ###
# preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
  php_value zlib.output_compression 16386
</ifmodule>
