#### Safety ####
# Directory Browsing
Options All -Indexes

# disable the server signature
ServerSignature Off

# Deny File Access
<Files ".htaccess" >
  Deny from all
</Files>

# Deny version file
<Files "v4*" >
  Deny from all
</Files>

# Initiate Rewrite
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]

### Speed ###

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP